<p>
  {{ quotes.description}}
</p>
  <div class="buttons">
  <span><button (click)=likebuttonclick() class="btn btn-outline-primary"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button></span>
  <span>&nbsp;{{numberoflikes}}</span> <br><br>
  <span><button (click)=dislikebuttonclick() class="btn btn-outline-warning"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button></span>
  <span>{{numberofdislikes}}</span><br><br>
  <button (click)= 'quotesDelete(true)' class="btn btn-outline-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
</div>