@import "~bootstrap/dist/css/bootstrap.css";
 body {
  font-family: 'Dancing Script', cursive;
  font-family: 'Satisfy', cursive;
  background-image: url("https://bit.ly/34OCv3a");
  background-size: cover;
  background-repeat: no-repeat;
 }
 h1 {
   text-align: center;
   padding: 20px;
 }

 .buttons {
   padding: 20px;
 }

